html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: var(--ds-typography-b1-body1_default-font-family);
  font-size: 15px;
  line-height: 1.55;
  color: var(--ds-text-heading-primary);
  background: var(--ds-surface-bg_primary-default);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
